nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    width: 20vw;
    /* position: fixed; */

    background-color: aquamarine;


}
.heading{
    font-family: "Jomhuria", serif;
    font-weight: 400;
  font-style: normal;
  font-size: 5em;
}
.navBlock{
display: flex;
flex-direction: column;
justify-content: space-between;
justify-items: center;
align-content: center;
height: 12vh;
font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2em;
  text-align: center;
}


